---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>
  
  pas : {{ page.pas }} <br>
  distance : {{ page.distance }}

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  
  <!-- Premiere image -->
  {% for myimage in site.static_files %}
    {% if myimage.path contains page.imagesPath/'caption' %}
        Caption
        <p><img src="{{ site.baseurl }}{{ myimage.path }}" alt=""></p>
    {% endif %}
  {% endfor %}
  
  <!-- Toutes les images -->
  {% for myimage in site.static_files %}
    {% if myimage.path contains page.imagesPath %}
        <p><img src="{{ site.baseurl }}{{ myimage.path }}" alt="">{{myimage.path | json}}</p>
    {% endif %}
  {% endfor %}
  
  <div id="post-nav" class="clearfix">
  {% if page.previous.url %} 
    <a class="prev" href="{{ site.baseurl }}{{page.previous.url}}">&laquo; {{page.previous.title}}</a> 
  {% endif %} 
  {% if page.next.url %} 
    <a class="next" href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}} &raquo;</a> 
  {% endif %} 
</div>

</article>
